@use "../abstracts" as *;

.container {
	$max-width: 1100px;
	$padding: 4rem;

	width: min(100% - $padding, $max-width);
	margin-inline: auto;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: $fw-bold;
}
