@use "../abstracts" as *;

.heading-main {
	font-size: $fs-600;
	font-weight: $fw-light;
	& span {
		display: block;
	}
}

.bold {
	font-weight: $fw-bold;
}

.mobile-only {
	max-width: remSize(350px);
	line-height: remSize(25px);

	@include setHslaColor(color, $clr-neutral-400, 0.5);
}

.four-cards {
	margin-top: remSize(76px);
	grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.card {
	max-width: remSize(350px);
	padding: remSize(28px);
	border-top: 3px solid;
	box-shadow: $box-shadow-1;
	border-radius: 8px;

	@for $i from 1 through length($colors) {
		$color-key: nth(map-keys($colors), $i);
		$color-value: map-get($colors, $color-key);

		&[data-card-accent="#{$i}"] {
			border-color: $color-value;
		}
	}

	&__heading {
		font-size: remSize(20px);
		font-weight: $fw-bold;
	}

	&__description {
		font-size: remSize(13px);

		@include setHslaColor(color, $clr-neutral-400, 0.5);
	}

	&__icon {
		margin-top: remSize(33px);
		margin-left: auto;
		width: remSize(57px);
		aspect-ratio: 1 / 1;
	}
}
