@use "../abstracts" as *;

.heading-main {
	font-size: $fs-600;
	font-weight: $fw-light;
	& span {
		display: block;
	}
}

.bold {
	font-weight: $fw-bold;
}

.mobile-only {
	line-height: remSize(25px);

	@include setHslaColor(color, $clr-neutral-400, 0.5);
}

.four-cards {
	margin-top: remSize(76px);
}

.card {
	padding: remSize(28px);
	border-top: 3px solid var(--item-color);
	box-shadow: $box-shadow-1;
	border-radius: 8px;

	@for $i from 1 through 4 {
		&[data-card-accent="#{$i}"] {
			--item-color: var(--clr-accent-#{$i});
		}
	}

	&-heading {
		font-size: remSize(20px);
		font-weight: $fw-bold;
	}

	&-description {
		font-size: remSize(13px);

		@include setHslaColor(color, $clr-neutral-400, 0.5);
	}

	&-icon {
		margin-top: remSize(33px);
		margin-left: auto;
		width: remSize(57px);
		aspect-ratio: 1 / 1;
	}
}
