@use "../abstracts" as *;

.heading-main {
	font-size: $fs-600;
	font-weight: $fw-light;
	font-size: clamp(1.5rem, 1.1444rem + 1.5172vw, 2.1875rem);
	& span {
		display: block;
	}
}

.bold {
	font-weight: $fw-bold;
}

.heading-description {
	max-width: remSize(540px);
	line-height: remSize(25px);

	@include setHslaColor(color, $clr-neutral-400, 0.5);
}

.four-cards {
	margin-top: remSize(76px);
	margin-inline: auto;
	max-width: remSize(800px);
	grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
	@include media(xtra-large) {
		margin-top: remSize(64px);
		max-width: remSize(1100px);
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);

		.supervisor {
			grid-area: 2 / 1 / 4 / 2;
		}

		.team {
			grid-area: 1 / 2 / 3 / 3;
		}

		.karma {
			grid-area: 3 / 2 / 5 / 3;
		}

		.calculator {
			grid-area: 2 / 3 / 4 / 4;
		}
	}
}

.card {
	max-width: remSize(350px);
	padding: remSize(28px);
	border-top: 4px solid;
	box-shadow: $box-shadow-1;
	border-radius: 8px;

	@for $i from 1 through length($colors) {
		$color-key: nth(map-keys($colors), $i);
		$color-value: map-get($colors, $color-key);

		&[data-card-accent="#{$i}"] {
			border-color: $color-value;
		}
	}

	&__heading {
		font-size: remSize(20px);
		font-weight: $fw-bold;
	}

	&__description {
		font-size: remSize(13px);
		line-height: remSize(23px);

		@include setHslaColor(color, $clr-neutral-400, 0.5);
	}

	&__icon {
		margin-top: remSize(33px);
		margin-left: auto;
		width: remSize(57px);
		aspect-ratio: 1 / 1;
	}

	@include media(large) {
		padding: remSize(28px) 2rem 2rem 2rem;

		&__description {
			margin-top: remSize(9px);
		}

		&__icon {
			margin-top: remSize(40px);
		}
	}
}
